@import url('https://fonts.googleapis.com/css?family=Archivo+Black');


$colorOne: rgb(68, 114, 196);
$colorTwo: rgb(255, 80, 80);
$mainFont:'Archivo Black', sans-serif;
$fontSize: 20pt;
body {
  font-family: $mainFont;
  margin: 0;
  overflow-x: hidden !important;
}

h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  height: 200px;
  padding: 20px;
}

.alternate-color {
  color: $colorTwo;
}
.background-primary {
  background-color: $colorOne;
}
.content {
  $borderSize: 20px;
  background-color: white;
  border-left: $borderSize $colorOne solid;
  border-right: $borderSize $colorOne solid;
  border-top: $borderSize $colorOne solid;
  min-height: 110vh;
  padding-top: 50px;
  position: relative;
  top: 100%;
  width: calc(100vw - 2*$borderSize);
  z-index: 1;
}
.cover {
  @extend .full;
  position: fixed;
  z-index: 0;
  img {
    @extend .full;
    object-fit: cover;
  }
}
.cover-text {
  background-color: white;
  display: inline;
  padding: 20px;
}
.cover-text-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.cover-wrapper {
  height: 100vh;
  position: relative;
  width: 100vw;
  z-index: 0;
}
.down-button {
  & > i {
    color: black;

    &:hover {
      color: $colorOne;
      cursor: pointer;
      transition: color 500ms;
    }
  }

}
.down-button-wrapper {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
}
.flex {
  display: flex;

  &.horizontal-center {
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.vertical-center {
    align-items: center;
  }
}
.full {
  @extend .full-height;
  @extend .full-width;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.large-font {
  font-size: $fontSize * 3;
}
.italics {
  font-style: italic;
}
.main-color {
  color: $colorOne;
}
.medium-font {
  font-size: $fontSize * 2.5;
}
.photo-wrapper {
  padding: 20px;
  width: 300px;

  img {
    object-fit: cover;
  }
}
.small-font {
  font-size: $fontSize * 2;
}
.text-center {
  text-align: center;
}
.white-color {
  color: white;
}
